body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.scene {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playground {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.grid-container {
    width: 70vmin;
    height: 70vmin;
    display: grid;
    border: 1px black;
    grid-gap: 3px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 6vmin;
    cursor: pointer;
}

.player-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.player-name {
    padding: 3%;
    text-align: center;
}

.player-symbol {
    padding: 3%;
    text-align: center;
}

.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    text-align: center;
}

